@font-face {
	font-family: 'Barlow';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/Barlow-Bold.ttf') ,   		
}
@font-face {
	font-family: 'Barlow';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/Barlow-Regular.ttf') ,   		
}

